:root {
  --primary-color: rgb(163, 160, 160);
  --secondary-color: rgb(47, 47, 48);
  --tertiary-color: rgb(35, 36, 36);
}
body {
  background-color: var(--tertiary-color);
  margin: 0;
  color: var(--primary-color);
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  font-family: "Caacupe One";
}
main {
  display: grid;
}
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border-bottom: 1px solid rgb(92, 90, 90);
}

header img {
  width: 5rem;
  border-radius: 50px;
}
.title {
  font-size: 3rem;
  font-family: "Caacupe One";
}
.game-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.battle-log {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  background-color: var(--secondary-color);
  font-size: 3rem;
  border-radius: 10px;
}
.container {
  display: flex;
  padding: 2rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  gap: 1.5rem;
}

.first-grid-container,
.second-grid-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.first-grid-span,
.second-grid-span {
  font-size: 2rem;
}
.first-grid,
.second-grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

.box {
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: crosshair;
  background-color: rgba(75, 74, 74, 0.8);
}

.box:hover {
  opacity: 0.8;
}

.box:active {
  opacity: 0.6;
}

.has-ship {
  background-color: rgba(103, 143, 158, 0.7);
  border: 1px solid black;
}

.has-ship:hover {
  opacity: 1;
}
.has-ship:active {
  opacity: 1;
}

.player-form {
  justify-self: center;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.player-form input {
  background-color: transparent;
  border: 2px solid rgb(168, 163, 163);
  color: inherit;
  padding: 0.8rem;
  border-radius: 10px;
}
.player-form input:focus {
  outline: none;
  border: 2px solid rgb(94, 94, 139);
}
.player-form input:user-invalid {
  border: 2px solid red;
}
.player-form input:user-valid {
  border: 2px solid green;
}
.player-form button {
  background-color: rgb(49, 43, 43);
  padding: 0.8rem 1rem;
  color: inherit;
  border: 2px solid rgb(168, 163, 163);
  cursor: pointer;
  border-radius: 10px;
}
.player-form button:hover {
  opacity: 0.8;
}
.player-form button:active {
  opacity: 0.6;
}
.inactive-grid {
  background-color: white;
}
.successful-hit {
  background-color: rgb(196, 55, 55);
  border: 1px solid black;
}
.missed {
  background-color: rgb(206, 202, 202);
  opacity: 0.8;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
